body {
    margin: 0;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a{
    text-decoration: none;
}

    /* header */

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;

    outline: 1px solid green; /* временно */
}

.main-header-logo {
    width: 154px;
    height: 64px;
    margin-top: 9px;
}

.main-navigation {
    display: flex;
    width: 1146px;

    outline: 1px solid red; /* временно */
}

.site-navigation {
    display: flex;
    margin: 0 319px 0 24px;
    padding: 0 0;
    width: 382px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    list-style: none;

    outline: 1px solid yellow; /* временно */
}

.site-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #323232;

    background-color: #f7f6f3;
}

.site-navigation a:active {
    color: #323232;

    background-color: #ededed;
}

.sub-navigation {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;

    background-color: #f8f7f4;
    list-style: none;
}

.sub-navigation a {
    color: #323232;
}

.site-navigation-current {
    color: #ffffff;

    background-color: #d07058;
}

.new-items {
    font-weight: 700;
}

.sub-navigation a:hover,
.sub-navigation a:focus {
    color: #323232;

    background-color: #fbded7;
}

.sub-navigation a:active {
    color: #323232;

    background-color: #f6b5a5;
}

a.sub-navigation-current {
    color: #ffffff;

    background-color: #d07058;
}

.user-navigation {
    display: flex;
    width: 267px;
    margin: 0 0;
    padding: 0 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

    list-style: none;

    outline: 1px solid yellow; /* временно */
}

.button-search,
.button-login {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.button-search:hover,
.button-search:focus,
.button-search:active,
.button-login:hover,
.button-login:focus,
.button-login:active {
    color: #323232;

    background-color: #f8f7f4;
}

.search-field,
.login-field {
    background-color: #f8f7f4;
}

.login-field a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    color: #323232;
}

.login-field a:hover,
.login-field a:focus,
.login-fiela a:active {
    color: #ec583c;
}

.basket a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);
}

.basket a:hover,
.basket a:focus,
.basket a:active {
    color: #323232;

    background-color: #f7f6f3;
}

.basket-field {
    font-size: 13px;
    line-height: 16px;
    color: #323232;

    background-color: #f8f7f4;
}

.basket-field-list {
    list-style: none;
}

.basket-field-item span {
    color: #999999;
}

.basket-footer {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

.opening-hours {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    outline: 1px solid red; /* временно */
}

.opening-hours a {
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
}

.opening-hours a:hover,
.opening-hours a:focus,
.opening-hours a:active{
    color: #ffbc9e;
}

    /* main-countainer */

.container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;

    outline: 1px solid green; /* временно */
}

.slider-control,
.slide-list {
    list-style: none;
}

.slide-list h2 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.button.button-big {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
}

.promotion {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;

    outline: 1px solid red; /* временно */
}

.promotion h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.promotion-berries {
    width: 560px;

    background-image: url("../img/berries-background.jpg");
    background-repeat: no-repeat;
}

.promotion-chocolate {
    width: 560px;

    background-image: url("../img/chocolate-background.jpg");
    background-repeat: no-repeat;
}

.bestsellers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    outline: 1px solid red; /* временно */
}

.advantages-list {
    list-style: none;
}

.advantages {
    margin-bottom: 40px;

    color: #323232;

    background-image: url("../img/waffle-background.png");
    background-repeat: no-repeat;

    outline: 1px solid red; /* временно */
}

.advantages b {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.interesting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    outline: 1px solid red; /* временно */
}

.interesting-content {
    width: 560px;

    font-weight: 500;
    color: #323232;

    background-image: url("../img/strawberry-background.jpg");
    background-repeat: no-repeat;
}

.interesting-content a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;

    text-decoration: underline;
}

.interesting-content a:hover,
.interesting-content a:focus,
.interesting-content a:active {
    color: #e84d37;
}

.interesting-subscribe {
    width: 560px;

    color: #323232;

    background-image: url("../img/mail-background.png");
    background-repeat: no-repeat;
}

.main-map {
    outline: 1px solid red; /* временно */
}

.main-map-contacts {
    font-size: 14px;
    line-height: 20px;
    color: #323232;

    background-color: #fffefd;
}

.main-map-contacts b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.main-map-contacts a {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #323232;
}

.main-map-contacts a:hover,
.main-map-contacts a:focus,
.main-map-contacts a:active {
    color: #e84d37;
}

    /* catalog-container */

.breadcrumbs {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-size: 14px;
    line-height: 16px;

    list-style: none;

    outline: 1px solid red; /* временно */
}

.paige-title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-size: 35px;
    line-height: 41px;
    font-weight: 700;

    outline: 1px solid red; /* временно */
}

.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
}

.paige-title {

}

.filter {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    outline: 1px solid red; /* временно */
}

.filters ul {
    list-style: none;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 14px;
    line-height: 16px;
}

.filter select {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}

.filter select:hover,
.filter select:focus {
    color: #323232;

    background-color: #ffffff;
}

.button-filter {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: rgba(255, 225, 255, 0.2);
    border: 2px solid #fbfcfb;
    outline: none;
}

.button-filter:hover,
.button-filter:focus {
    color: #323232;

    background-color: #fbfcfb;
}

.button-filter:active {
    color: #323232;

    background-color: #eaeaea;
    border: 2px solid #eaeaea;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 42px;

    list-style: none;

    outline: 1px solid red; /* временно */
}

.catalog-item {
    width: 267px;
    margin-bottom: 40px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 700;

    outline: 1px solid yellow; /* временно */
}

.catalog-item a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
    color: #ffbc9e;
}

.catalog-item span {
    font-size: 30px;
}

.pagination-list {
    width: 267px;
    margin: 0;
    padding: 0;
    margin-left: 879px;
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    list-style: none;

    outline: 1px solid red; /* временно */
}

.pagination-item-current {
    color: #323232;

    background-color: #ffffff;
}

.pagination-list a {
    color: #ffffff;
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2)
}

.pagination-list a:active {
    color: #323232;

    background-color: #ffffff;
}

    /* footer */

.main-footer {
    display: flex;
    justify-content: space-between;
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;

    outline: 1px solid green; /* временно */
}

.social-link {
    width: 267px;

    outline: 1px solid red; /* временно */
}

.social-button {
    list-style: none;
}

.social-button a{
    color: #ffffff;
}

.quality {
    width: 560px;

    outline: 1px solid red; /* временно */
}

.quality-list {
    font-size: 13px;
    line-height: 18px;

    list-style: none;
}

.quality-list a {
    color: #ffffff;
}

a.quality-bold {
    font-weight: 700;
}

.quality-list a:hover,
.quality-list a:focus,
.quality-list a:active {
    color: #ffbc9e;
}

.made-in {
    width: 267px;
    font-size: 12px;
    line-height: 18px;

    outline: 1px solid red; /* временно */
}

.made-in a {
    color: #ffffff;

    text-decoration: underline;
}

.made-in a:hover,
.made-in a:focus,
.made-in a:active {
    color: #ffbc9e;
}

    /* modal */

.modal-feedback {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;

    background-color: #f8f7f4;
}

textarea {
    font-size: 16px;
    line-height: 24px;

    background-color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #d3d3d2;
}

textarea:hover {
    border-color: #c7c6c5;
}

textarea:focus {
    border-color: #8fbdec;
    outline: none;
}

    /**/

.button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    background-color: #ec583c;
    border: none;
}

.button:hover,
.button:focus {
    color: #ffffff;

    background-color: #f17b64;
}

.button:active {
    color: #ffffff;

    background-color: #db5338;
}

a.button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    background-color: #ec583c;
}

a.button:hover,
a.button:focus {
    color: #ffffff;

    background-color: #f17b64;
}

a.button:active {
    color: #ffffff;

    background-color: #db5338;
}

.input {
    font-size: 16px;
    line-height: 24px;

    background-color: #ffffff;
    border: 1px solid #d3d3d2;
}

.input:hover {
    border-color: #c7c6c5;
}

.input:focus {
    border-color: #8fbdec;
    outline: none;
}
