body {
    margin: 0;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a{
    outline: none;
}

img {
    width: 100%;
    height: auto;
}

.site-wrapper {
    min-width: 1200px;
    margin: 0 auto;

    background-color: #849d8f;
    background-image: url("../img/slider-icecream1.png");
    background-repeat: no-repeat;
    background-position: top center;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";

    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slider-icecream2.png");
}

.site-wrapper::after {
    background-image: url("../img/slider-icecream3.png");
}
    /* header */

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-header-logo {
    width: 154px;
    height: 64px;
    margin-top: 9px;
    margin-right: 10px;
}

.main-navigation {
    display: flex;
    width: 1146px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 382px;
    margin: 0;
    padding: 0;
    margin-top: 23px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    list-style: none;
}

.site-navigation-item {
    position: relative;
}

.site-navigation-item > a {
    display: block;
    padding: 6px 14px 8px;

    color: #ffffff;
    border-radius: 14px;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
    color: #323232;
    text-decoration: none;

    background-color: #f7f6f3;
}

.site-navigation-item > a:active {
    color: #323232;

    background-color: #ededed;
    box-shadow: inset 0 2px 1px 0 #696969;
}

.site-navigation-current {
    color: #ffffff;
    text-decoration: none;

    background-color: #d07058;
}

.sub-navigation {
    position: absolute;
    top: 37px;
    left: -7px;

    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 6px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    white-space: nowrap;

    background-color: #f8f7f4;
    border-radius: 7px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    list-style: none;

    visibility: hidden;
    z-index: 10;
}

.site-navigation-item:hover .sub-navigation {
    visibility: visible;
}

.sub-navigation a {
    display: block;
    padding: 0 21px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-bottom: 2px;

    color: #323232;
    text-decoration: none;
}

.sub-navigation a:hover,
.sub-navigation a:focus {
    color: #323232;

    background-color: #fbded7;
}

.sub-navigation a:active {
    color: #323232;

    background-color: #f6b5a5;
}

a.sub-navigation-current {
    color: #ffffff;

    background-color: #d07058;
}

a.new-items {
    position: relative;
    padding-top: 7px;
    padding-bottom: 11px;
    margin-bottom: 6px;

    font-weight: 700;
}

.new-items::after {
    content: "";

    position: absolute;
    left: 6px;
    bottom: -1px;

    width: 128px;
    height: 1px;

    background-color: rgba(53, 53, 53, 0.2);
}

.user-navigation {
    display: flex;
    justify-content: flex-end;
    width: 293px;
    margin: 0 0;
    padding: 0;
    margin-top: 23px;
    margin-left: auto;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

    list-style: none;
}

.user-navigation > li {
    margin-left: 10px;
}

.search-site {
    position: relative;
}

.search-field {
    position: absolute;
    top: 34px;
    right: 0px;

    width: 309px;
    padding: 20px 17px;

    visibility: hidden;
}

.search-field input {
    width: 100%;
    padding: 9px 14px;
}

.search-site:hover .search-field,
.search-site:focus .search-field {
    visibility: visible;
}

.button-search {
    width: 32px;
    height: 32px;

    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.button-search:hover,
.button-search:focus,
.button-search:active {
    background-image: url("../img/loupe-focus.svg");
}

.button-login {
    position: relative;

    display: block;
    padding: 8px 16px;
    padding-left: 45px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;

    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 14px;
    outline: none;
}

.button-login::before {
    content: "";

    position: absolute;
    left: 17px;
    top: 6px;

    width: 21px;
    height: 19px;

    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button-login:hover::before,
.button-login:focus::before,
.button-login:active::before {
    background-image: url("../img/login-focus.svg");
}

.button-search:hover,
.button-search:focus,
.button-search:active,
.button-login:hover,
.button-login:focus,
.button-login:active {
    color: #323232;

    background-color: #f8f7f4;
}

.search-field,
.login-field,
.basket-field {
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    z-index: 10;
}

.user-login {
    position: relative;
}

.user-login:hover .login-field,
.user-login:focus .login-field {
    visibility: visible;
}

.login-field {
    position: absolute;
    top: 34px;
    right: 0px;

    width: 240px;
    padding: 20px 17px 20px 19px;

    visibility: hidden;
}

.login-field a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    color: #323232;
}

.login-field a:hover,
.login-field a:focus,
.login-fiela a:active {
    color: #ec583c;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
}

.login-form p {
    margin: 0;
}

.login-form input {
    width: 210px;
    padding: 9px 14px;
    margin-bottom: 20px;
}

.login-form .button-send {
    margin-right: 18px;
}

.login-links {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
}

.basket {
    position: relative;
}

.basket-button {
    position: relative;

    display: block;
    padding: 8px 16px;
    padding-left: 45px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 14px;
}

.basket-button:hover,
.basket-button:focus,
.basket-button:active {
    color: #323232;

    background-color: #f7f6f3;
}

.basket-button::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 17px;

    width: 21px;
    height: 20px;

    background-image: url("../img/basket-empty.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket a:hover::before,
.basket a:focus::before,
.basket a:active::before {
    background-image: url("../img/basket-full.svg");
}

.basket-full {
    color: #323232;

    background-color: #f7f6f3;
}

.basket-full::before {
    background-image: url("../img/basket-full.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-field {
    position: absolute;
    top: 34px;
    right: 0px;

    width: 512px;
    padding: 20px 14px;

    font-size: 13px;
    line-height: 16px;
    color: #323232;

    visibility: hidden;
    z-index: 10;
}

.basket:hover .basket-field,
.basket:focus .basket-field {
    visibility: visible;
}

.basket-field-list {
    padding: 0;
    list-style: none;
}

.basket-field-item {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 19px;
    padding-left: 28px;
}

.basket-product-del {
    position: absolute;
    top: 10px;
    left: 6px;

    width: 13px;
    height: 13px;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.basket-product-del::before,
.basket-product-del::after {
    content: "";

    position: absolute;
    top: 6px;
    left: -1px;

    width: 15px;
    height: 1px;

    background-color: #231f20;
}

.basket-product-del::before {
    transform: rotate(45deg);
}

.basket-product-del::after {
    transform: rotate(-45deg);
}

.basket-field-item img {
    width: 33px;
    height: 33px;

    margin-right: 12px;

    border-radius: 50%;
}

.basket-field-item p {
    margin: 0;
    padding-top: 8px;
    margin-right: 25px;
}

.basket-field-item .column-product-name {
    width: 220px;
}

.basket-field-item .column-price-per-kg {
    width: 97px;
}

.basket-field-item .column-full-price {
    width: 58px;
    margin-right: 0;
}

.basket-field-item span {
    color: #999999;
}

.basket-footer {
    position: relative;
    padding-top: 18px;

    font-size: 15px;
    line-height: 18px;
    font-weight: 700;

    text-align: right;
}

.basket-footer p {
    margin: 0;
    margin-bottom: 14px;
}

.basket-footer::before {
    content: "";

    position: absolute;
    top: 0px;
    right: 0px;

    width: 512px;
    height: 1px;

    background-color: #cacac7;
}

.opening-hours {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;

    z-index: 5;
}

.opening-hours p {
    margin: 0;
}

.opening-hours a {
    display: inline-block;
    margin-top: 5px;

    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
}

.opening-hours a:hover,
.opening-hours a:focus,
.opening-hours a:active{
    color: #ffbc9e;
}

    /* main-countainer */

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
    margin-top: -20px;
}

.main-slider {
    position: relative;
    padding-top: 295px;
    margin-bottom: 40px;

    text-align: center;
}

.slider-control {
    position: absolute;
    bottom: 22px;
    left: 0;
}

.slider-control label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 4px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.slider-control label:hover,
.slider-control label:focus {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.slider-control label:active {
    background-color: rgba(255, 255, 255, 1);
}

#slide-switch-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-icecream1.png");
}

#slide-switch-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-icecream2.png");
}

#slide-switch-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-icecream3.png");
}

#slide-switch-1:checked ~ .site-wrapper #slide-1,
#slide-switch-2:checked ~ .site-wrapper #slide-2,
#slide-switch-3:checked ~ .site-wrapper #slide-3 {
     display: block;
}

#slide-switch-1:checked ~ .site-wrapper label[for="slide-switch-1"],
#slide-switch-2:checked ~ .site-wrapper label[for="slide-switch-2"],
#slide-switch-3:checked ~ .site-wrapper label[for="slide-switch-3"] {
    background-color: #ffffff;
}

.slide-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide-list h2 {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.slide-item {
    display: none;
}

.button.button-big {
    padding: 10px 40px;

    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    border-radius: 50px;
}

.promotion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    font-size: 18px;
    font-weight: 700;
}

.promotion h3 {
    margin: 0;
    margin-bottom: 15px;

    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.promotion p {
    margin: 0;
    margin-bottom: 43px;
}

.promotion a {
    align-self: flex-end;
    padding-top: 10px;
    padding-bottom: 12px;
}

.promotion-berries,
.promotion-chocolate {
    display: flex;
    flex-direction: column;

    width: 521px;
    padding-top: 16px;
    padding-right: 21px;
    padding-bottom: 24px;
    padding-left: 18px;

    border-radius: 15px;
    background-repeat: no-repeat;
}

.promotion-berries {
    background-color: #7a081c;
    background-image: url("../img/berries-background.jpg");
}

.promotion-chocolate {
    background-color: #42281b;
    background-image: url("../img/chocolate-background.jpg");
}

.bestsellers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.bestsellers-list .catalog-item {
    margin-bottom: 38px;
}

.bestsellers-list .catalog-item::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 61px;
    height: 61px;

    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    z-index: 5;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.advantages {
    padding: 0 20px;
    margin-bottom: 40px;
    padding-top: 25px;
    padding-right: 24px;

    color: #323232;

    background-color: #eee2c8;
    background-image: url("../img/waffle-background.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.advantages b {
    display: inline-block;
    margin-bottom: 21px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    vertical-align: top;
}

.advantages-item {
    position: relative;

    width: 480px;
    margin-bottom: 23px;
    padding-left: 56px;

    background-repeat: no-repeat;
}

.advantages-item p {
    padding: 0;
    margin: 0;
}

.advantages-item::before {
    content: "";

    position: absolute;
    top: -13px;
    left: 0px;

    width: 49px;
    height: 49px;
}

.eskimo::before {
    background-image: url("../img/icon-eskimo.svg");
}
.cow::before {
    background-image: url("../img/icon-cow.svg");
}

.leaf::before {
    background-image: url("../img/icon-leaf.svg");
}
.thermometer::before {
    background-image: url("../img/icon-thermometer.svg");
}

.interesting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.interesting-content {
    width: 520px;
    padding: 23px 20px;

    font-weight: 500;
    color: #323232;

    background-color: #ffffff;
    background-image: url("../img/strawberry-background.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.interesting-content p {
    margin: 0;
    margin-bottom: 3px;
}

.interesting-content a {
    display: block;
    margin-right: 230px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;

    text-decoration: underline;
}

.interesting-content a:hover,
.interesting-content a:focus,
.interesting-content a:active {
    color: #e84d37;
}

.interesting-subscribe {
    width: 508px;
    padding: 0 26px;
    padding-top: 34px;
    padding-bottom: 41px;

    color: #323232;

    background-color: #f8f7f4;
    background-image: url("../img/mail-background.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.interesting-subscribe p {
    margin: 0;
    margin-bottom: 34px;
}

.subscribe-form input {
    width: 338px;
    padding: 9px 14px;
    margin-right: 6px;
}

.subscribe-form .button-send {
    padding-left: 19px;
    padding-right: 19px;
}

.main-map {
    position: relative;

    width: 1200px;
    height: 429px;
    margin: 0 auto;

    background-image: url("../img/map-alt.png");
    background-repeat: no-repeat;
}

.main-map-contacts {
    position: absolute;
    top: 62px;
    right: 27px;

    width: 254px;
    padding: 29px 24px;
    margin-left: auto;
    margin-right: 0px;

    font-size: 14px;
    line-height: 20px;
    color: #323232;

    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 17px;
}

.main-map-contacts p {
    margin: 0;
}

.main-map-contacts b {
    display: inline-block;
    padding-top: 2px;
    margin-bottom: 18px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    vertical-align: top;
}

.main-map-contacts a {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 3px;

    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #323232;
    vertical-align: top;
    text-decoration: none;
}

.main-map-contacts a:hover,
.main-map-contacts a:focus,
.main-map-contacts a:active {
    color: #e84d37;
}

.main-map-contacts button {
    width: 100%;
    margin-top: 25px;
}

    /* catalog-container */

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;

    font-size: 14px;
    line-height: 16px;

    list-style: none;
}

.breadcrumbs li:not(:last-child) {
    position: relative;

    padding-right: 22px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "»";

    position: absolute;
    right: 8px;

    width: 6px;
    height: 6px;
}

.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
}

.paige-title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.filter {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.filters ul {
    list-style: none;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    margin-right: 15px;
    margin-top: 16px;
    border: none;
}

.filter legend {
    margin-left: 16px;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
}

.select-wrapper {
    padding: 7px 14px;
    border-radius: 17px;

    background-color: rgba(255, 255, 255, 0.2);
}

.filter select {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: transparent;
    border: none;
    outline: none;
}

.filter select:hover,
.filter select:focus {
    color: #323232;
}

.filter-price {
    width: 220px;

    color: #ffffff;
}

.filter-price-title {
    display: inline-block;
    margin: 0;
    margin-left: 14px;
    margin-bottom: 4px;

    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
}

.price-controls {
    display: inline-block;
    vertical-align: top;
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    vertical-align: top;
}

.price-controls input {
    width: 55px;
    margin: 0;
    padding: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.max-price {
    position: relative;
    padding-left: 9px;
}

.max-price::before {
    content: "";

    position: absolute;
    top: 7px;
    left: 0;

    width: 7px;
    height: 2px;

    background-color: #ffffff;
}

.price-range {
    position: relative;

    padding: 16px 21px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 17px;
}

.price-range .scale {
    height: 4px;
    width: 176px;

    background-color: rgba(248, 247, 244, 0.5);
}

.price-range .bar {
    height: 4px;
    width: 100px;
    margin-left: 20px;

    background-color: #f8f7f4;
}

.price-switch {
    position: absolute;
    top: 8px;

    padding: 2px 2px;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.price-switch:hover,
.price-switch:focus {
    padding: 3px 3px;
}

.switch-less {
    left: 32px;
}

.switch-more {
    left: 131px;
}

.fat {
    display: flex;
    margin: 0;
    padding: 9px 15px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 17px;
}

.fat li:not(:last-child) {
    margin-right: 17px;
}

.fat label {
    position: relative;

    padding-left: 32px;

    cursor: pointer;
}

.fat label::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 14px;
    height: 14px;

    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.fat label:hover::before,
.fat label:focus::before {
    border: 3px solid rgba(255, 255, 255, 1);
}

.fat-filter:checked + label::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 6px;

    width: 8px;
    height: 8px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.fat label:hover::after,
.fat label:focus::after {
    background-color: rgba(255, 255, 255, 1);
}

.filler {
    display: flex;
    margin: 0;
    padding: 9px 15px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 17px;
}

.filler li:not(:last-child) {
    margin-right: 22px;
}

.filler label {
    position: relative;

    padding-left: 32px;

    cursor: pointer;
}

.filler label::before {
    content: "";

    position: absolute;
    top: -1px;
    left: 0;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.8;
}

.filler-filter:checked + label::after {
    content: "";

    position: absolute;
    top: -1px;
    left: 0;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.8;
}

.filler-filter:checked + label::before {
    display: none;
}

.filler label:hover::before,
.filler label:focus::before,
.filler label:hover::after,
.filler label:focus::after {
    opacity: 1;
}

.button-filter {
    margin-top: 21px;
    padding: 7px 28px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: rgba(255, 225, 255, 0.2);
    border: 2px solid #fbfcfb;
    border-radius: 17px;
    outline: none;
    cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
    color: #323232;

    background-color: #fbfcfb;
}

.button-filter:active {
    padding: 9px 30px;
    color: #323232;

    background-color: #eaeaea;
    box-shadow: inset 0 2px 1px 0 #696969;
    border: none;
}

.catalog {
    position: relative;
}

.catalog::after {
    content: "";

    position: absolute;

    width: 100%;
    height: 1px;

    background-color: rgba(255, 255, 255, 0.3);
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    margin-bottom: 39px;

    list-style: none;
}

.catalog-list .catalog-item {
    margin-bottom: 39px;
}

.catalog-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 267px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.catalog-item:hover::after {
    content: "";

    position: absolute;
    top: -6px;

    width: 293px;
    height: calc(100% + 80px);

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 1;
}

.catalog-item h3 {
    margin: 0;
    z-index: 5;
    order: 3;
}

.catalog-item img {
    border-radius: 50%;
}

.catalog-item p {
    align-self: flex-start;

    margin: 0;
    margin-top: -60px;
    margin-bottom: 23px;

    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);

    z-index: 5;
}

.catalog-item a {
    display: block;
    padding: 0 5px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
    color: #ffbc9e;
}

.catalog-item span {
    font-size: 30px;
}

button.button-quick-view {
    position: absolute;
    bottom: -53px;

    display: none;
    padding: 10px 16px;
    z-index: 5;
}

.catalog-item:hover .button-quick-view {
    display: block;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 267px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-bottom: 30px;

    list-style: none;
}

.pagination {
    display: block;
    width: 26px;
    height: 21px;
    margin-left: 2px;
    margin-right: 1px;
    padding-top: 5px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-decoration: none;

    border-radius: 50%;
}

.pagination:hover:not(.pagination-current),
.pagination:focus:not(.pagination-current) {
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2)
}

.pagination:active:not(.pagination-current) {
    color: #323232;

    background-color: #ffffff;
}

.pagination-prev,
.pagination-next {
    position: relative;
    display: block;
    width: 12px;
    height: 26px;
}

.pagination-prev {
    margin-right: 10px;
}

.pagination-prev::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 0;

    width: 9px;
    height: 2px;

    background-color: #ffffff;
    transform: rotate(-45deg);
}

.pagination-prev::after {
    content: "";

    position: absolute;
    top: 15px;
    left: 0;

    width: 9px;
    height: 2px;

    background-color: #ffffff;
    transform: rotate(45deg);
}

.pagination-next {
    margin-left: 10px;
}

.pagination-next::before {
    content: "";

    position: absolute;
    top: 10px;
    right: 0;

    width: 9px;
    height: 2px;

    background-color: #ffffff;
    transform: rotate(45deg);
}

.pagination-next::after {
    content: "";

    position: absolute;
    top: 15px;
    right: 0;

    width: 9px;
    height: 2px;

    background-color: #ffffff;
    transform: rotate(-45deg);
}

.pagination-current {
    color: #323232;

    background-color: #ffffff;
}

.disabled {
    opacity: 0.2;
}

    /* footer */

.main-footer {
    display: flex;
    justify-content: flex-start;
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
    padding-bottom: 24px;
}

.social-link {
    width: 267px;
    margin-top: 36px;
}

.social-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-list a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 11px;

    color: #ffffff;
    vertical-align: top;

    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background-repeat: no-repeat;
}

.social-list a:hover,
.social-list a:focus {
    border-color: rgba(255, 255, 255, 0.7);
}

.social-item-twitter path,
.social-item-instagram path,
.social-item-facebook path,
.social-item-vk path {
    opacity: 0.8;
}

.social-item-twitter:hover path,
.social-item-twitter:focus path,
.social-item-instagram:hover path,
.social-item-instagram:focus path,
.social-item-facebook:hover path,
.social-item-facebook:focus path,
.social-item-vk:hover path,
.social-item-vk:focus path {
    opacity: 1;
}

.social-item-twitter:active path,
.social-item-instagram:active path,
.social-item-facebook:active path,
.social-item-vk:active path {
    fill: #e9e9e9;
}

.quality {
    width: 560px;
    margin-top: 34px;
    margin-left: 16px;
}

.quality-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 340px;
    margin: 0 auto;
    padding: 0;

    font-size: 13px;
    line-height: 18px;

    list-style: none;
}

.quality-list li {
    width: 169px;
    margin-left: auto;
}

.quality-list li:nth-child(2n+1) {
    width: 142px;
    padding-left: 29px;
}

.quality-list a {
    display: inline-block;
    margin-bottom: 4px;

    color: #ffffff;
    vertical-align: top;
}

.quality-bold {
    position: relative;
    font-weight: 700;
}

.quality-bold::before {
    content: "";

    position: absolute;
    left: -22px;
    top: 3px;

    width: 15px;
    height: 13px;

    background-image: url("../img/heart-small.svg");
    background-repeat: no-repeat;
}

.quality-list a:hover,
.quality-list a:focus,
.quality-list a:active {
    color: #ffbc9e;
}

.made-in {
    width: 190px;
    margin-top: 18px;
    padding-left: 77px;
    margin-left: auto;

    font-size: 12px;
    line-height: 18px;
}

.made-in img {
    width: 118px;
    height: 38px;
    margin-left: -4px;
}

.made-in a {
    color: #ffffff;

    text-decoration: underline;
}

.made-in p {
    margin: 0;
    padding: 0;
}

.made-in a:hover,
.made-in a:focus,
.made-in a:active {
    color: #ffbc9e;
}

    /* modal */

.modal-feedback {
    position: fixed;
    top: 338px;
    left: 50%;

    display: none;
    width: 429px;
    margin-left: -238px;
    padding: 0 24px;
    padding-top: 17px;
    padding-bottom: 27px;

    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;

    background-color: #f8f7f4;
    border-radius: 17px;

    z-index: 30;
}

.modal-feedback p {
    margin: 0;
    margin-bottom: 20px;
}

.modal-feedback input {
    width: 237px;
    padding: 9px 14px;

    font-size: 16px;
    line-height: 24px;
}

textarea {
    width: 398px;
    height: 131px;
    padding: 11px 14px;
    margin-bottom: 20px;
    resize: none;

    font-size: 16px;
    line-height: 24px;

    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 4px;
}

textarea:hover {
    border-color: #c7c6c5;
}

textarea:focus {
    border-color: #8fbdec;
    outline: none;
}

.feedback-form button {
    display: block;
    margin-left: auto;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 16px;

    width: 18px;
    height: 19px;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 8px;
    left: -2px;

    width: 22px;
    height: 2px;

    background-color: #231f20;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 25;
}

@keyframes emersion {
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes fogging {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0%, 100% {transform: rotate(0deg);}
    10%, 30%, 50%, 70%, 90% {transform: rotate(-2deg);}
    20%, 40%, 60%, 80% {transform: rotate(2deg);}
}

.modal-show {
    display: block;
    animation-name: emersion, fogging;
    animation-duration: 1s, 1.5s;
}

.overlay-show {
    display: block;
    animation-name: fogging;
    animation-duration: 1s;
}

.modal-error {
    animation-name: shake;
    animation-duration: 1s;
}

    /**/

.button {
    padding: 10px 22px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    background-color: #ec583c;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    outline: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: #ffffff;

    background-color: #f17b64;
    background-image: linear-gradient(to top, #ec6f55, #f58669);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.button:active {
    color: #ffffff;

    background-color: #db5338;
    background-image: linear-gradient(to top, #e1613e, #d74632);
    box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
}

a.button {
    display: inline-block;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    vertical-align: top;
    text-decoration: none;

    background-color: #ec583c;
}

a.button:hover,
a.button:focus {
    color: #ffffff;

    background-color: #f17b64;
}

a.button:active {
    color: #ffffff;

    background-color: #db5338;
}

.input {
    font-size: 16px;
    line-height: 24px;

    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 4px;
}

.input:hover {
    border-color: #c7c6c5;
}

.input:focus {
    border-color: #8fbdec;
    outline: none;
}
